Repository never-alone-turing/FE, pull requests merged in 2021-01, with the labels that each got.

#27 Carousel kj
  components/Checkin.js
  components/Receiver.js
Labels: Receiver, Styling, documentation

#29 Feature/validation
  components/AddTimer.js
  components/Caretaker.js
Labels: Caretaker, Error Handling, enhancement

#35 Caretaker menu kj
  components/AddTask.js
  components/Caretaker.js
  components/Receiver.js
Labels: Caretaker, Styling, documentation

#38 Responsive kj
  components/Caretaker.js
  components/Checkin.js
  components/LandingPage.js
  components/Receiver.js
  package.json
Labels: Caretaker, Landing, New Package, Receiver, Styling, documentation

#39 Feature/time input
  components/AddTask.js
  components/Caretaker.js
  components/Times.js
  package.json
Labels: Caretaker, Error Handling, enhancement

#45 Feature/checkin to api
  API/API.js
  components/AddTask.js
  components/Caretaker.js
  components/Checkin.js
  components/Receiver.js
  components/Times.js
Labels: API, Error Handling, Receiver, Styling, enhancement

#48 Feature/update caretaker
  components/Caretaker.js
  components/Times.js
Labels: Caretaker, Styling, enhancement

#49 Format task cards kj
  components/Caretaker.js
  components/Times.js
Labels: Caretaker, Styling

#56 Refactor kj
  components/Receiver.js
  components/Times.js
Labels: Styling
